<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Bruce Wallenstein | {{ page.title }}</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div id="main">
            <div id="header">
                {% include header.html %}
            </div>
            <div id="content">
                {{ content }}
            </div>
            <div id="navbar">
                {% include navbar.html %}
            </div>
            <div id="footer">
                {% include footer.html %}
            </div>
        </div>
        <script src="js/fittext.js" ></script>
        <script>
            function fitAllText(){
                Array.from(document.getElementsByClassName("fittext")).forEach((item, i) => {
                    fitText(item);
                });
            }
            fitAllText();
            window.addEventListener("resize", fitAllText);
        </script>
    </body>
</html>
